<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="wrap">
    <div class="container--singup">
      <h1>fbPhotos</h1>
      <p>mini Facebook photos <br>exporting app</p>
      <a class="loginBtn" href="/auth/facebook">
        <span>
          Login with facebook
        </span>
      </a>
    </div>
  </div>
</body>
</html>
